.add-to-cart-btn {
  display: flex;
  position: absolute;
  bottom: 8.5em;
  left: 50%;     /* start from horizontal center */
  transform: translateX(-50%);
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--primary);
  background-color: var(--background-card);
  border: 1px solid var(--primary);
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 2;
}

.add-to-cart-btn:hover {
  background-color: var(--background-neutral);
}

/* Quantity control (active state) */
.quantity-control {
  display: flex;
  position: absolute;
  bottom: 7.4em;
  left: 50%;     /* start from horizontal center */
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--background-card);
  border-radius: 9999px;
  padding: 0.4rem 1rem;
  gap: 1.5rem;
}

.qty-btn {
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.qty-btn:hover svg {
    transform: scale(1.2);
    stroke: var(--background-neutral);
    stroke-width: 2;
}

.qty-btn:hover svg path,
.qty-btn:hover svg circle {
    fill: var(--background-card);
    stroke: var(--primary);
    stroke-width: 2;
}

.qty-count {
  font-size: 1rem;
  font-weight: 600;
}
